---
import LocationSelector from "../../components/LocationSelector.jsx";
import ResultsDisplay from "../../components/ResultsDisplay.jsx";
import DataFilter from "../../components/DataFilter.jsx";
---

<section
        id="tool"
        class="relative min-h-screen bg-space bg-cover bg-center overflow-hidden py-16 pt-[80px]"
>
    <div class="max-w-6xl mx-auto space-y-8 py-2 px-4">
        <h1
                class="text-5xl font-bold mb-8 text-white text-center tracking-wide"
        >
            Tool
        </h1>
        <LocationSelector client:only="react" />
        <ResultsDisplay client:only="react" />
    </div>
</section>