---
import Layout from "../layouts/Layout.astro";
import Scene from "../components/Scene.jsx";
import LandsatInfo from "../components/LandsatInfo.astro";
---

<Layout title="3D Earth Viewer">
  <div
    class="flex flex-col md:flex-row w-full h-screen overflow-hidden relative"
  >
    <div
      class="w-full md:w-1/3 h-1/2 md:h-full p-4 flex items-center justify-center z-10"
    >
      <LandsatInfo />
    </div>
    <div class="w-full md:w-2/3 h-1/2 md:h-full">
      <Scene client:only="react" />
    </div>
  </div>
</Layout>
