---
import Layout from "../layouts/Layout.astro";
import Scene from "../components/Scene.jsx"; // Import the Scene component
import Navbar from "../components/Navbar.astro"; // Import the Navbar
import Home from "./home.astro"; // Section with LandsatInfo
import About from "./about.astro"; // Import your About section
import Data from "./data.astro"; // Import your Data section
import Contact from "./contact.astro"; // Import your Contact section
import Gallery from "./gallery.astro"; // Import your Gallery section

---
<Layout title="Landsat Tracker">
  <Navbar />

  <!-- Full background Scene -->
  <div class="fixed inset-0 z-0">
    <Scene client:only="react" /> <!-- Full background Scene component -->
  </div>


  <main class="relative z-10 flex flex-col mt-[60px]">
    <!-- Home Section -->
    <section id="home" class="relative py-16">
      <Home /> <!-- This is your home section -->
    </section>

    <!-- Data Section -->
    <section id="data" class="relative py-16">
      <Data />
    </section>

    <!-- Gallery Section -->
    <section id="gallery" class="relative py-16">
      <Gallery />
    </section>

    <!-- About Section -->
    <section id="about" class="relative py-16">
      <About />
    </section>

    <!-- Contact Section -->
    <section id="contact" class="relative py-16">
      <Contact />
    </section>
  </main>
</Layout>
