---
import LandsatTabs from '../components/LandsatTabs.jsx';
---

<section id="tool" class="relative min-h-screen bg-space bg-cover bg-center overflow-hidden py-16">
    <div class="relative z-10 container mx-auto px-4">
        <h1 class="text-5xl font-bold mb-8 text-white text-center tracking-wide">
            Tool
        </h1>
        <LandsatTabs client:only />
    </div>
</section>