<div
    class="bg-gray-900 bg-opacity-80 p-6 rounded-lg shadow-xl text-white overflow-y-auto max-h-full"
>
    <h2 class="text-2xl font-bold mb-4 flex items-center">
        <svg
            class="mr-2"
            width="24"
            height="24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width={2}
                d="M10 3v5.24a3 3 0 001 5.66V21l7-5V8m-8-5a5 5 0 0110 0v8.14a5 5 0 01-1.6 3.74L10 21m0 0v-5.1m0 5.1a5.006 5.006 0 01-5.57-1.16A5 5 0 014 11.12V8a5 5 0 015-5z"
            ></path></svg
        >
        Landsat: Observing Earth from Space
    </h2>
    <p class="mb-4">
        Landsat is a joint program by NASA and USGS to observe Earth from space
        since 1972.
    </p>
    <ul class="list-disc list-inside mb-4">
        <li>Over 8 million images captured</li>
        <li>Resolution of up to 15 meters per pixel</li>
        <li>Revisit every location on Earth every 16 days</li>
        <li>Used to monitor land use, deforestation, and natural disasters</li>
    </ul>
</div>
