---
import { Image } from "astro:assets";
import satelliteIcon from "../../assets/3d/satelite.png";
---

<nav class="bg-black text-white p-4 fixed w-full top-0 z-50">
    <div class="nasa-background"></div>
    <div class="relative z-10 flex justify-between items-center px-6">
        <!-- Left: Logo and Title -->
        <div class="flex items-center space-x-3">
            <Image
                    src={satelliteIcon}
                    alt="Satellite Icon"
                    class="h-12 w-12"
            />
            <span
                    class="text-3xl font-bold tracking-wider text-transparent bg-clip-text bg-gradient-to-r from-white to-blue-200"
            >
                Landsat Tracker
            </span>
        </div>

        <!-- Right: Hamburger menu and Navigation Links -->
        <div class="bg-black flex items-center space-x-6">
            <!-- Hamburger menu button for mobile -->
            <button id="menu-toggle" class="lg:hidden">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"
                    ></path>
                </svg>
            </button>

            <!-- Navigation Links (hidden on mobile, shown on large screens) -->
            <ul id="menu" class="hidden lg:flex lg:space-x-6 text-lg">
                <li>
                    <a href="#home" class="nav-link group">
                        <div class="flex flex-col items-center">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6 mb-1"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                                ></path>
                            </svg>
                            <span class="nav-text">Home</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#data" class="nav-link group">
                        <div class="flex flex-col items-center">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6 mb-1"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
                                ></path>
                            </svg>
                            <span class="nav-text">Data</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#gallery" class="nav-link group">
                        <div class="flex flex-col items-center">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6 mb-1"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
                                ></path>
                            </svg>
                            <span class="nav-text">Gallery</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#news" class="nav-link group">
                        <div class="flex flex-col items-center">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6 mb-1"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                                ></path>
                            </svg>
                            <span class="nav-text">News</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#about" class="nav-link group">
                        <div class="flex flex-col items-center">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6 mb-1"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                ></path>
                            </svg>
                            <span class="nav-text">About</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact" class="nav-link group">
                        <div class="flex flex-col items-center">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6 mb-1"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                                ></path>
                            </svg>
                            <span class="nav-text">Contact</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .nasa-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1920&q=80");
        background-size: cover;
        background-position: center;
        opacity: 0.1;
        z-index: 0;
    }

    .nav-link {
        @apply flex items-center hover:text-blue-200 transition duration-300 ease-in-out;
    }

    .nav-text {
        @apply relative overflow-hidden text-center;
    }

    .nav-text::after {
        content: "";
        @apply absolute bottom-0 left-0 w-full h-0.5 bg-blue-200 transform scale-x-0 transition-transform duration-300 ease-in-out;
    }

    .nav-link:hover .nav-text::after,
    .nav-link.active .nav-text::after {
        @apply scale-x-100;
    }

    .nav-link.active {
        @apply text-blue-200;
    }

    .nav-link.active svg {
        @apply text-blue-200;
    }

    @media (max-width: 1023px) {
        #menu {
            @apply fixed top-20 right-0 bg-black flex-col items-center py-4 space-y-4;
            width: 50vw;  /* Set the menu to take half the viewport width */
            left: auto;   /* Reset left to auto to allow right alignment */
            padding: 0;   /* Remove any padding */
            margin: 0;    /* Remove any margin */
            box-sizing: border-box; /* Ensure padding/border is within the width */
            z-index: 100; /* Ensure it stays above other content */
        }

        #menu.hidden {
            display: none;
        }

        #menu:not(.hidden) {
            display: flex;
        }
    }
</style>

<script>
    // Smooth scrolling to sections
    document.querySelectorAll(".nav-link").forEach((link) => {
        link.addEventListener("click", function (e) {
            e.preventDefault();
            const targetId = this.getAttribute("href").substring(1);
            const targetElement = document.getElementById(targetId);

            if (targetElement) {
                window.scrollTo({
                    top: targetElement.offsetTop + 70, // Adjust 70 px for smooth scrolling into tittle
                    behavior: "smooth",
                });
            }

            // Close menu on mobile after clicking a link
            if (window.innerWidth < 1024) {
                document.getElementById("menu").classList.add("hidden");
            }
        });
    });

    // Toggle menu on mobile
    document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
            const menu = document.getElementById("menu");
            menu.classList.toggle("hidden");
        });

    // Close menu when clicking outside
    document.addEventListener("click", function (event) {
        const menu = document.getElementById("menu");
        const menuToggle = document.getElementById("menu-toggle");
        if (
            !menu.contains(event.target as Node) &&
            !menuToggle.contains(event.target as Node) &&
            window.innerWidth < 1024
        ) {
            menu.classList.add("hidden");
        }
    });

    // Adjust menu visibility on window resize
    window.addEventListener("resize", function () {
        const menu = document.getElementById("menu");
        if (window.innerWidth >= 1024) {
            menu.classList.remove("hidden");
        } else {
            menu.classList.add("hidden");
        }
    });
</script>
